@import '../main.scss';

.aboutContainer {
	background-color: $primaryColor;
	height: 100vh;
	padding: 2rem 5rem 0 5rem;
	.heading {
		border-bottom: 2px solid $secondaryColor;
		border-top: 2px solid $secondaryColor;
		font-family: 'BookmanOldStyle, Bookman Old Style';
		font-size: 3rem;
		font-weight: 400;
		margin: 0 auto;
		width: max-content;
	}

	.cardsContainer {
		align-items: center;
		display: flex;
		gap: 10rem;
		margin-top: 7rem;
	}
}
