@import '../main.scss';

.aboutContainer {
	background-color: $primaryColor;
	height: max-content;
	padding: 4rem 2rem;
	@include breakpoint($tablet) {
		padding: 6rem 2rem;
	}
	@include breakpoint($xsLaptop) {
		height: 100vh;
		padding: 0 5rem;
	}
	@include breakpoint($sLaptop) {
		padding: 2rem 5rem 0 5rem;
	}
	.heading {
		border-bottom: 2px solid $secondaryColor;
		border-top: 2px solid $secondaryColor;
		font-family: 'BookmanOldStyle, Bookman Old Style';
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 2rem;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		@include breakpoint($xsPhone) {
			font-size: 1.3rem;
			line-height: 2rem;
		}
		@include breakpoint($phone) {
			line-height: 2.5rem;
		}
		@include breakpoint($lPhone) {
			font-size: 1.4rem;
			line-height: 3rem;
			width: max-content;
		}
		@include breakpoint($tablet) {
			font-size: 2.2rem;
		}
		@include breakpoint($xsLaptop) {
			font-size: 2.5rem;
		}
		@include breakpoint($sLaptop) {
			font-size: 3rem;
		}
	}

	.cardsContainer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		@include breakpoint($tablet) {
			gap: 7rem;
			margin: 2rem auto 0;
			width: 70%;
		}
		@include breakpoint($xsLaptop) {
			align-items: center;
			flex-direction: row;
			gap: 3rem;
			width: 100%;
		}
		@include breakpoint($sLaptop) {
			gap: 10rem;
			margin-top: 7rem;
		}
	}
}
