@import '../main.scss';

.aboutContainer {
	background-color: $primaryColor;
	height: max-content;
	padding: 4rem 2rem;
	@include breakpoint($xsLaptop) {
		height: 100vh;
		padding: 2rem 5rem 0 5rem;
	}
	.heading {
		border-bottom: 2px solid $secondaryColor;
		border-top: 2px solid $secondaryColor;
		font-family: 'BookmanOldStyle, Bookman Old Style';
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 3rem;
		margin: 0 auto;
		width: max-content;
		@include breakpoint($xsLaptop) {
			font-size: 3rem;
		}
	}

	.cardsContainer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		@include breakpoint($xsLaptop) {
			align-items: center;
			flex-direction: row;
			gap: 10rem;
			margin-top: 7rem;
		}
	}
}
