@import '../main.scss';

.aboutContainer {
	background-color: $primaryColor;
	height: 100vh;
	padding: 0 5rem;
	.heading {
		border-bottom: 2px solid $secondaryColor;
		border-top: 2px solid $secondaryColor;
		font-family: 'BookmanOldStyle, Bookman Old Style';
		font-size: 3rem;
		font-weight: 400;
		margin: 0 auto;
		width: max-content;
	}

	.cardsContainer {
		align-items: center;
		display: flex;
		gap: 10rem;
		margin-top: 7rem;

		.cardContainer {
			background-color: white;
			border-radius: 3rem;
			box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.1);
			margin-top: 5rem;
			position: relative;
			width: 30rem;

			&:after {
				content: '>';
				font-size: 6rem;
				position: absolute;
				right: -120px;
				top: 40%;
			}

			&:last-child {
				&:after {
					content: '';
				}
			}

			.card {
				display: flex;
				flex-direction: column;
				height: 32rem;
				position: relative;
				z-index: 3;
				.cardHeading {
					background: linear-gradient($secondaryColor, $gradientEnd);
					border-radius: 2rem;
					font-size: 2.3rem;
					height: 4rem;
					margin: 2rem auto;
					padding: 0.5rem 1.5rem;
					width: max-content;
				}
				.cardDescription {
					font-family: 'AllRoundGothic-Book, All Round Gothic';
					font-size: 1.375rem;
					line-height: 2.5rem;
					min-height: 16rem;
					padding: 1.5rem 4rem;
					text-align: center;
				}
				.cardImage {
					height: 12rem;
					width: 100%;
				}
			}
			.decorationLeavesLeft {
				left: -80px;
				position: absolute;
				top: -100px;
				transform: scale(0.75);
				z-index: 1;
			}
			.decorationLeavesRight {
				bottom: -160px;
				position: absolute;
				right: -80px;
				transform: scale(0.75);
				z-index: 1;
			}
		}
	}
}
