@import '../main.scss';

.modalContainer {
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 3rem;
	display: flex;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;

	.exitCross {
		color: $primaryColor;
		cursor: pointer;
		font-size: 2.2rem;
		position: absolute;
		right: 2.5rem;
		top: 1.5rem;
		@include no-selectable;

		&:hover {
			color: #bdbdbd;
		}
	}
}
