@import '../main.scss';

.cardContainer {
  background-color: white;
  border-radius: 3rem;
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
  position: relative;
  width: 100%;
  @include breakpoint($xsLaptop) {
    width: 30rem;
  }
  @include breakpointExtended($sLaptop, $heightSmallSLaptop) {
    width: 20rem;
  }
  @include breakpointExtended($sLaptop, $heightStandardSLaptop) {
    width: 30rem;
  }
  @include breakpoint($laptop) {
    width: auto;
  }
  @include breakpoint($desktop) {
    height: 30rem;
  }
  @include breakpointExtended($desktop2K, $height2K) {
    height: 42rem;
    width: 30rem;
  }
  @include breakpoint($desktop4K) {
    border-radius: 5rem;
    height: 60rem;
    width: 40rem;
  }
  &:after {
    bottom: -130px;
    content: '>';
    font-size: 6rem;
    left: calc(50% - 1rem);
    position: absolute;
    transform: rotate(90deg);
    @include breakpoint($tablet) {
      bottom: -200px;
    }
    @include breakpoint($xsLaptop) {
      bottom: unset;
      font-size: 4rem;
      left: unset;
      right: -45px;
      transform: unset;
      top: 40%;
    }
    @include breakpoint($sLaptop) {
      font-size: 6rem;
      right: -75px;
    }
    @include breakpoint($laptop) {
      right: -95px;
    }
    @include breakpoint($lLaptop) {
      right: -120px;
    }
    @include breakpoint($sDesktop) {
      right: -100px;
    }
    @include breakpoint($desktop) {
      right: -120px;
    }
    @include breakpoint($desktop2K) {
      right: -130px;
    }
    @include breakpointExtended($desktop2K, $height2K) {
      font-size: 8rem;
      right: -115px;
    }
    @include breakpoint($desktop4K) {
      font-size: 12rem;
      right: -200px;
    }
  }
  &:last-child {
    &:after {
      content: '';
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    height: 30rem;
    position: relative;
    z-index: 3;
    @include breakpoint($xsLaptop) {
      height: 30rem;
      width: 100%;
    }
    @include breakpointExtended($sLaptop, $heightSmallSLaptop) {
      height: 24rem;
      width: 20rem;
    }
    @include breakpointExtended($sLaptop, $heightStandardSLaptop) {
      height: 32rem;
    }
    @include breakpoint($sDesktop) {
      width: 24rem;
    }
    @include breakpoint($desktop) {
      width: 26rem;
    }
    @include breakpointExtended($desktop2K, $height2K) {
      height: 100%;
      width: 100%;
    }
    .cardDescription {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-family: 'AllRoundGothic-Book, All Round Gothic';
      font-size: 1.1rem;
      gap: 1rem;
      justify-content: center;
      line-height: 1.8rem;
      margin: 0.5rem 0;
      min-height: 16rem;
      padding: 0 1rem;
      text-align: center;
      a {
        color: $secondaryColor;
        text-decoration: none;
      }
      @include breakpoint($xsPhone) {
        font-size: 1.2rem;
        padding: 0 1.5rem;
      }
      @include breakpoint($phone) {
        font-size: 1.3rem;
        line-height: 2rem;
        padding: 0 2rem;
      }
      @include breakpoint($lPhone) {
        font-size: 1.375rem;
        line-height: 2.5rem;
        margin: 0.5rem 0;
      }
      @include breakpoint($tablet) {
        font-size: 1.5rem;
        line-height: 2.75rem;
      }
      @include breakpoint($xsLaptop) {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin: 0;
        padding: 0 2rem;
      }
      @include breakpointExtended($sLaptop, $heightSmallSLaptop) {
        font-size: 1.15rem;
        line-height: 1.7rem;
        min-height: 14rem;
      }
      @include breakpointExtended($sLaptop, $heightStandardSLaptop) {
        font-size: 1.3rem;
        line-height: 1.9rem;
        min-height: 16rem;
        padding: 0 2rem;
      }
      @include breakpoint($desktop) {
        font-size: 1.4rem;
        line-height: 2.2rem;
        padding: 0 2.5rem;
      }
      @include breakpoint($desktop2K) {
        font-size: 1.5rem;
      }
      @include breakpointExtended($desktop2K, $height2K) {
        font-size: 1.9rem;
        height: 100%;
        line-height: 2.8rem;
        min-height: 23rem;
        padding: 0 3rem;
      }
      @include breakpoint($desktop4K) {
        font-size: 2.8rem;
        line-height: 4rem;
        padding: 0 4rem;
      }
    }
    .cardHeading {
      background: linear-gradient($secondaryColor, $gradientEnd);
      border-radius: 2rem;
      font-size: 1.5rem;
      height: 4rem;
      margin: 2rem auto 0;
      padding: 0.5rem 1.5rem;
      width: max-content;
      @include breakpoint($xsPhone) {
        font-size: 1.75rem;
      }
      @include breakpoint($lPhone) {
        font-size: 2rem;
      }
      @include breakpoint($tablet) {
        font-size: 2.3rem;
      }
      @include breakpoint($xsLaptop) {
        align-items: center;
        display: flex;
        font-size: 1.8rem;
        height: 4rem;
        padding: 0.25rem 1.25rem;
      }
      @include breakpoint($sLaptop) {
        padding: 0.5rem 1.5rem;
      }
      @include breakpointExtended($desktop2K, $height2K) {
        border-radius: 3rem;
        font-size: 2.4rem;
        height: 5rem;
        padding: 0.5rem 2.5rem;
      }
      @include breakpoint($desktop4K) {
        border-radius: 4rem;
        font-size: 3.2rem;
        height: 10rem;
        margin-top: 4rem;
        padding: 0.5rem 3rem;
      }
    }
    .cardImage {
      height: 12rem;
      width: 100%;
      @include breakpoint($xsLaptop) {
        height: 8rem;
      }
      @include breakpointExtended($sLaptop, $heightSmallSLaptop) {
        height: 8rem;
      }
      @include breakpointExtended($sLaptop, $heightStandardSLaptop) {
        height: 12rem;
      }
      @include breakpointExtended($desktop2K, $height2K) {
        height: 14rem;
      }
      @include breakpoint($desktop4K) {
        height: 16rem;
        min-height: 16rem;
      }
    }
  }
  .decorationLeavesLeft {
    left: -85px;
    position: absolute;
    top: -105px;
    transform: scale(0.75);
    z-index: 1;
    @include breakpoint($lPhone) {
      left: -80px;
      top: -100px;
    }
    @include breakpointExtended($desktop2K, $height2K) {
      transform: scale(1);
    }
    @include breakpoint($desktop4K) {
      transform: scale(1.5);
    }
  }
  .decorationLeavesRight {
    bottom: -105px;
    position: absolute;
    right: -75px;
    transform: scale(0.75);
    z-index: 1;
    @include breakpoint($xsPhone) {
      bottom: -110px;
    }
    @include breakpoint($lPhone) {
      bottom: -130px;
    }
    @include breakpoint($tablet) {
      bottom: -185px;
    }
    @include breakpoint($xsLaptop) {
      bottom: -110px;
    }
    @include breakpointExtended($sLaptop, $heightSmallSLaptop) {
      bottom: -160px;
      right: -80px;
    }
    @include breakpointExtended($sLaptop, $heightStandardSLaptop) {
      bottom: -110px;
    }
    @include breakpoint($desktop) {
      bottom: -140px;
    }
    @include breakpointExtended($desktop2K, $height2K) {
      bottom: -110px;
      transform: scale(1);
    }
    @include breakpoint($desktop4K) {
      transform: scale(1.5);
    }
  }
}
