@import '../main.scss';

.cardContainer {
	background-color: white;
	border-radius: 3rem;
	box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.1);
	margin-top: 5rem;
	position: relative;
	width: 100%;
	@include breakpoint($xsLaptop) {
		width: 30rem;
	}

	&:after {
		bottom: -130px;
		content: '>';
		font-size: 6rem;
		left: calc(50% - 1rem);
		position: absolute;
		transform: rotate(90deg);

		@include breakpoint($xsLaptop) {
			bottom: unset;
			left: unset;
			right: -120px;
			top: 40%;
			transform: unset;
		}
	}

	&:last-child {
		&:after {
			content: '';
		}
	}

	.card {
		display: flex;
		flex-direction: column;
		height: 30rem;
		position: relative;
		z-index: 3;
		@include breakpoint($xsLaptop) {
			height: 32rem;
		}

		.cardHeading {
			background: linear-gradient($secondaryColor, $gradientEnd);
			border-radius: 2rem;
			font-size: 2rem;
			margin: 2rem auto 0 auto;
			padding: 0.5rem 1.5rem;
			width: max-content;
			@include breakpoint($xsLaptop) {
				height: 4rem;
				font-size: 2.3rem;
			}
		}
		.cardDescription {
			align-items: center;
			display: flex;
			flex-direction: column;
			font-family: 'AllRoundGothic-Book, All Round Gothic';
			font-size: 1.375rem;
			gap: 1rem;
			justify-content: center;
			line-height: 2.5rem;
			margin: 0.5rem 0;
			min-height: 16rem;
			padding: 0 2rem;
			text-align: center;
			a {
				color: $secondaryColor;
				text-decoration: none;
			}
			@include breakpoint($xsLaptop) {
				margin: 0;
				padding: 0 4rem;
			}
		}
		.cardImage {
			height: 12rem;
			width: 100%;
		}
	}
	.decorationLeavesLeft {
		left: -80px;
		position: absolute;
		top: -100px;
		transform: scale(0.75);
		z-index: 1;
	}
	.decorationLeavesRight {
		bottom: -135px;
		position: absolute;
		right: -75px;
		transform: scale(0.75);
		z-index: 1;
		@include breakpoint($xsLaptop) {
			bottom: -145px;
			right: -80px;
		}
	}
}
