@import '../main.scss';

.contactContainer {
	align-items: center;
	background: linear-gradient(#7fb8b4, #81c8a7);
	display: flex;
	flex-direction: column;
	height: calc(100vh - 10rem);
	justify-content: space-evenly;
	overflow: hidden;
	position: relative;
	.headingContainer {
		.heading {
			font-family: 'BookmanOldStyle, Bookman Old Style';
			font-size: 2.5rem;
			font-weight: 400;
			letter-spacing: 0.1rem;
			margin: 0 auto;
			text-align: center;
			width: fit-content;
			&:first-child {
				border-top: 2px solid #bfddd8;
				padding-top: 1rem;
			}
			&:last-child {
				border-bottom: 2px solid #bfddd8;
				padding-bottom: 1rem;
			}
		}
	}
	.contactBox {
		align-items: center;
		background-color: white;
		border-radius: 3rem;
		box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
		font-family: 'AllRoundGothic-Book, All Round Gothic';
		font-size: 1.5rem;
		gap: 2rem;
		justify-content: center;
		margin-top: -4rem;
		padding: 2rem 3rem;
		width: 50%;
		.emailInfo {
			align-items: center;
			display: flex;
			flex-direction: column;
		}
		.calendarInfo {
			align-items: center;
			display: flex;
			flex-direction: column;
		}
		.contactLink {
			color: #0d9065;
			display: flex;
			text-decoration: none;
		}
	}
	.decorationLeavesLeft {
		filter: brightness(0) invert(1);
		left: -50px;
		position: absolute;
		top: -40px;
	}

	.decorationLeavesRight {
		bottom: -40px;
		filter: brightness(0) invert(1);
		position: absolute;
		right: -50px;
	}
}
