@import '../main.scss';

.footerContainer {
	align-items: center;
	background-color: white;
	display: flex;
	height: 4rem;
	justify-content: center;
	width: 100%;
	@include breakpoint($xsLaptop) {
		height: 6.5rem;
	}
	.logoContainer {
		align-items: center;
		display: flex;
		height: 100%;
		width: 50%;
		@include no-selectable;
		@include breakpoint($lPhone) {
			width: 40%;
		}
		@include breakpoint($xsLaptop) {
			width: 25%;
		}
		@include breakpoint($sLaptop) {
			width: 20%;
		}
		@include breakpoint($desktop) {
			width: 15%;
		}
		@include breakpoint($desktop2K) {
			width: 12%;
		}
		.logo {
			cursor: pointer;
			height: 70%;
			width: 100%;
		}
	}
}
