@import '../main.scss';

.buttonContainer {
	.formButton {
		background-color: $primaryColor;
		border: 2px solid $gradientStart;
		border-radius: 1rem;
		color: $gradientStart;
		cursor: pointer;
		font-size: 1rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
		padding: 0.75rem 2rem;
		transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
		@include no-selectable;

		@include breakpoint($desktop2K) {
			font-size: 1.1rem;
		}

		&:disabled {
			cursor: not-allowed;

			&:hover {
				background-color: #9e9e9e;
				border: 2px solid $gradientStart;
				color: $gradientStart;
			}
		}

		&:focus-visible,
		&:hover {
			background-color: $gradientStart;
			border-color: $primaryColor;
			color: $primaryColor;
			outline: transparent;
		}
	}
}
