@import '../main.scss';

.inputContainer {
	.inputField {
		background-color: white;
		border: 0;
		border-radius: 0.75rem;
		box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.1);
		color: $accentColor;
		font-size: 1rem;
		line-height: 1.3rem;
		outline: 0;
		padding: 0.5rem 1rem;

		&:focus {
			outline: 2px solid $gradientStart;
		}
	}
}
