@import '../main.scss';

.inputContainer {
  position: relative;
  :global(.ios) & {
    outline: 0;
    &:focus-within {
      &:after {
        content: '';
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        border: 2px solid $gradientStart;
        z-index: 0;
        border-radius: 0.75rem;
        @include breakpoint($desktop) {
          border-width: 3px;
        }
        @include breakpointExtended($desktop2K, $height2K) {
          border-radius: 1rem;
        }
        @include breakpoint($desktop4K) {
          border-radius: 1.75rem;
          border-width: 5px;
        }
      }
    }
  }
  .inputField {
    background-color: white;
    border: 0;
    border-radius: 0.75rem;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.1);
    color: $accentColor;
    font-size: 1rem;
    line-height: 1.3rem;
    outline: 0;
    padding: 0.5rem 1rem;
    @include breakpointExtended($desktop2K, $height2K) {
      border-radius: 1rem;
      padding: 0.5rem 1.25rem;
    }

    &:focus {
      outline: 2px solid $gradientStart;
      :global(.ios) & {
        outline: 0;
      }
      @include breakpoint($desktop) {
        outline-width: 3px;
      }
      @include breakpoint($desktop4K) {
        outline-width: 5px;
      }
    }
  }
}
