@import '../main.scss';

.hamburgerContainer {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 1rem;
	justify-content: space-between;
	left: 1.5rem;
	position: absolute;
	width: 1.5rem;
	z-index: 10;
	@include no-selectable;
	.bar {
		background-color: black;
		height: 0.125rem;
		transition: transform 0.3s ease-in, opacity 0.3s ease-out;
		width: 1.5rem;
	}

	&.open {
		.bar:first-child {
			transform: rotate(45deg) translate(5px, 5px);
		}
		.bar:nth-child(2n) {
			transform: translateX(15px);
			opacity: 0;
		}
		.bar:last-child {
			transform: rotate(-45deg) translate(5px, -5px);
		}
	}
}
