@import '../main.scss';

.headerContainer {
	align-items: center;
	background-color: white;
	display: flex;
	flex-direction: row-reverse;
	height: 5rem;
	justify-content: center;
	padding: 0 3rem;
	position: relative;
	width: 100%;

	@include breakpoint($xsLaptop) {
		flex-direction: row;
		height: 7.5rem;
		justify-content: flex-start;
	}

	.logoContainer {
		height: 50%;
		width: 85%;
		@include breakpoint($lPhone) {
			width: 70%;
		}
		@include breakpoint($xsLaptop) {
			height: 70%;
			width: 35%;
		}

		.logo {
			height: 100%;
			position: relative;
			width: 100%;
			z-index: 9;
		}
	}
}
