.loaderContainer {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  .loaderElement {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    border: 3px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    border-top-color: #636767;
    animation: spin 1s ease-in-out infinite;
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
}
