@import '../main.scss';

.loaderContainer {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  .loaderElement {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border: 3px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    border-top-color: #636767;
    animation: spin 1s ease-in-out infinite;
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
    @include breakpoint($lPhone) {
      width: 4rem;
      height: 4rem;
    }
    @include breakpoint($tablet) {
      width: 5rem;
      height: 5rem;
    }
    @include breakpointExtended($desktop2K, $height2K) {
      width: 7rem;
      height: 7rem;
    }
    @include breakpoint($desktop4K) {
      width: 10rem;
      height: 10rem;
    }
  }
}
