@import '../main.scss';

.navContainer {
  align-items: center;
  background-color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 3;
  @include breakpoint($xsLaptop) {
    height: 100%;
    justify-content: flex-end;
    padding-right: 3rem;
    position: relative;
    width: 100%;
  }
  @include breakpoint($sLaptop) {
    padding-right: 7rem;
  }

  .navList {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    @include breakpoint($xsLaptop) {
      flex-direction: row;
      gap: 5rem;
      justify-content: flex-end;
    }
    @include breakpoint($desktop4K) {
      gap: 10rem;
    }
    .navLink {
      border: 0;
      color: $secondaryColor;
      font-family: 'BookmanOldStyle, Bookman Old Style';
      font-size: 1.25rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
      text-decoration: none;
      @include no-selectable;
      @include breakpoint($phone) {
        font-size: 1.35rem;
      }
      @include breakpoint($lPhone) {
        font-size: 1.5rem;
        font-weight: 600;
      }
      @include breakpoint($tablet) {
        font-size: 2rem;
      }
      @include breakpoint($xsLaptop) {
        color: black;
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: unset;
        padding: 0.5rem 0;
      }
      @include breakpointExtended($lLaptop, $heightStandardLLaptop) {
        font-size: 1.35rem;
      }
      @include breakpoint($sDesktop) {
        font-size: 1.4rem;
      }
      @include breakpoint($desktop) {
        font-size: 1.5rem;
      }
      @include breakpoint($desktop2K) {
        font-size: 1.6rem;
      }
      @include breakpointExtended($desktop2K, $height2K) {
        font-size: 1.8rem;
      }
      @include breakpoint($desktop4K) {
        font-size: 2.8rem;
      }
      &:hover {
        border-bottom: 2px solid $secondaryColor;
        border-top: 2px solid $secondaryColor;
      }
      &.active {
        border-bottom: 2px solid $secondaryColor;
        border-top: 2px solid $secondaryColor;
      }
    }
  }
}
