@import '../main.scss';

.navContainer {
	align-items: center;
	background-color: white;
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100vw;
	@include breakpoint($xsLaptop) {
		height: 100%;
		justify-content: flex-end;
		padding-right: 7rem;
		position: relative;
		width: 100%;
	}

	.navList {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 50%;
		justify-content: space-evenly;
		list-style: none;
		width: 100%;
		@include breakpoint($xsLaptop) {
			flex-direction: row;
			gap: 5rem;
			justify-content: flex-end;
		}
		.navLink {
			border: 0;
			color: $secondaryColor;
			font-family: 'BookmanOldStyle, Bookman Old Style';
			font-size: 1.1rem;
			font-weight: 600;
			text-decoration: none;
			@include no-selectable;
			@include breakpoint($xsLaptop) {
				color: black;
				font-size: 1.25rem;
				font-weight: 400;
				padding: 0.5rem 0;
			}
			&:hover {
				border-bottom: 2px solid $secondaryColor;
				border-top: 2px solid $secondaryColor;
			}
			.navItem {
			}
		}
	}
}
