@import '../main.scss';

.offerContainer {
	align-items: center;
	background-color: $primaryColor;
	display: flex;
	flex-direction: column;
	height: max-content;
	margin: 2rem 0 6rem;
	padding: 0 2rem;
	position: relative;
	@include breakpoint($tablet) {
		margin-top: 4rem;
	}
	@include breakpoint($xsLaptop) {
		height: 100vh;
		margin: 0 0 3rem;
	}
	@include breakpointIPadProPortrait() {
		height: 50rem;
		margin-bottom: 8rem;
	}
	@include breakpoint($sLaptop) {
		height: 100vh;
		margin-bottom: 6rem;
	}
	@include breakpointIPadProLandscape() {
		margin-bottom: -4rem;
	}
	@include breakpoint($laptop) {
		margin-bottom: 6rem;
	}

	.headingContainer {
		background-color: white;
		border-radius: 3rem;
		box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.1);
		margin-bottom: 5rem;
		padding: 1.5rem 2rem;
		width: max-content;
		@include breakpoint($lPhone) {
			padding: 1.5rem 4rem;
			width: max-content;
		}
		@include breakpoint($xsLaptop) {
			margin-bottom: 3rem;
			padding: 1.75rem 3.5rem;
		}
		@include breakpoint($sLaptop) {
			margin-bottom: 3rem;
			padding: 2rem 4.5rem;
		}
		@include breakpointIPadProLandscape() {
			margin-bottom: 5rem;
		}
		@include breakpointExtended($desktop2K, $height2K) {
			border-radius: 4rem;
			margin: 5rem 0 10rem;
		}
		@include breakpoint($desktop4K) {
			border-radius: 5rem;
			margin: 10rem 0 12rem;
			padding: 3rem 6rem;
		}

		.heading {
			border-bottom: 2px solid $secondaryColor;
			border-top: 2px solid $secondaryColor;
			font-family: 'BookmanOldStyle, Bookman Old Style';
			font-size: 1.25rem;
			font-weight: 400;
			line-height: 2rem;
			@include breakpoint($lPhone) {
				font-size: 1.5rem;
				line-height: 3rem;
			}
			@include breakpoint($tablet) {
				font-size: 2.2rem;
				line-height: 3rem;
			}
			@include breakpoint($xsLaptop) {
				font-size: 2.75rem;
				margin: 0 auto;
				width: max-content;
			}
			@include breakpoint($sLaptop) {
				font-size: 3rem;
			}
			@include breakpointExtended($desktop2K, $height2K) {
				font-size: 4rem;
				line-height: 4.8rem;
			}
			@include breakpoint($desktop4K) {
				font-size: 5rem;
				line-height: 7rem;
			}
		}
	}

	.subscriptionsContainer {
		align-items: center;
		background: linear-gradient(#7fb8b4, #81c8a7);
		border-radius: 3rem;
		box-shadow: 4px 8px 8px 4px rgb(0 0 0 / 10%);
		display: flex;
		justify-content: center;
		position: relative;
		width: 100%;
		@include breakpoint($tablet) {
			width: 70%;
		}
		@include breakpoint($xsLaptop) {
			height: 75%;
			width: 80%;
		}
		@include breakpoint($sLaptop) {
			height: 75%;
			width: 75%;
		}
		@include breakpointIPadProLandscape() {
			height: 60%;
		}
		@include breakpoint($laptop) {
			height: 70%;
		}
		@include breakpoint($sDesktop) {
			width: 70%;
		}
		@include breakpoint($desktop) {
			width: 60%;
		}
		@include breakpoint($desktop2K) {
			width: 50%;
		}
		@include breakpointExtended($desktop2K, $height2K) {
			border-radius: 4rem;
			height: 60%;
			width: 55%;
		}
		@include breakpoint($desktop4K) {
			border-radius: 7rem;
			height: 60%;
		}

		.subscriptionsBox {
			background-color: white;
			border-radius: 3rem;
			box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.1);
			display: flex;
			flex-direction: column;
			height: max-content;
			position: relative;
			overflow: hidden;
			width: 100%;
			z-index: 2;
			@include breakpoint($xsLaptop) {
				box-shadow: unset;
				flex-direction: row;
				height: max-content;
				width: 85%;
			}
			@include breakpoint($sLaptop) {
				width: 80%;
			}
			@include breakpointIPadProLandscape() {
				height: 30rem;
			}
			@include breakpoint($desktop) {
				height: 32rem;
			}
			@include breakpointExtended($desktop2K, $height2K) {
				height: 70%;
			}
			@include breakpoint($desktop4K) {
				height: 80%;
			}
		}

		.decorationLeavesLeft {
			left: -90px;
			position: absolute;
			top: -105px;
			transform: scale(0.75);
			z-index: 1;
			@include breakpoint($xsLaptop) {
				left: -90px;
				top: -100px;
			}
			@include breakpoint($sLaptop) {
				transform: scale(1);
			}
			@include breakpointExtended($desktop2K, $height2K) {
				transform: scale(1.5);
			}
			@include breakpoint($desktop4K) {
				transform: scale(2);
			}
		}

		.decorationLeavesRight {
			bottom: -110px;
			position: absolute;
			right: -75px;
			transform: scale(0.75);
			z-index: 1;
			@include breakpoint($xsLaptop) {
				bottom: -100px;
			}
			@include breakpoint($sLaptop) {
				transform: scale(1);
			}
			@include breakpointExtended($desktop2K, $height2K) {
				transform: scale(1.5);
			}
			@include breakpoint($desktop4K) {
				transform: scale(2);
			}
		}
	}
}
