@import '../main.scss';

.offerContainer {
	align-items: center;
	background-color: $primaryColor;
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding-top: 3rem;
	position: relative;

	.headingContainer {
		background-color: white;
		border-radius: 3rem;
		box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.1);
		margin-bottom: 3rem;
		padding: 2rem 4.5rem;
		width: max-content;

		.heading {
			border-bottom: 2px solid $secondaryColor;
			border-top: 2px solid $secondaryColor;
			font-family: 'BookmanOldStyle, Bookman Old Style';
			font-size: 3rem;
			font-weight: 400;
			margin: 0 auto;
			width: max-content;
		}
	}

	.subscriptionsContainer {
		align-items: center;
		background: linear-gradient($gradientStart, $gradientEnd);
		border-radius: 3rem;
		display: flex;
		height: 65%;
		justify-content: center;
		position: relative;
		width: 68%;

		.subscriptionsBox {
			background-color: white;
			border-radius: 3rem;
			display: flex;
			height: max-content;
			position: relative;
			overflow: hidden;
			z-index: 2;
		}

		.decorationLeavesLeft {
			left: -90px;
			position: absolute;
			top: -100px;
			z-index: 1;
		}

		.decorationLeavesRight {
			bottom: -100px;
			position: absolute;
			right: -75px;
			z-index: 1;
		}
	}
}
