@import '../main.scss';

.formContainer {
	background: linear-gradient(#7fb8b4, #81c8a7);
	border-radius: 3rem;
	display: grid;
	height: 100%;
	padding: 2rem 4rem;
	position: relative;
	width: 100%;
	z-index: 4;
}
