@import '../main.scss';

.formContainer {
	background: linear-gradient(#7fb8b4, #81c8a7);
	border-radius: 3rem;
	display: grid;
	height: 100%;
	// padding: 1.5rem;
	position: relative;
	// width: 90%;
	z-index: 4;
	@include breakpoint($sPhone) {
		padding: 2rem;
		width: 100%;
	}
	@include breakpoint($xsLaptop) {
		padding: 2rem 4rem;
	}
}
