@import '../main.scss';

.formContainer {
  background: linear-gradient(#7fb8b4, #81c8a7);
  border-radius: 2rem;
  display: grid;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 4;
  @include breakpoint($sPhone) {
    padding: 0;
  }
  @include breakpoint($xsLaptop) {
    border-radius: 3rem;
    padding: 1rem;
  }
  @include breakpoint($desktop4K) {
    border-radius: 5rem;
  }
}
