@import '../main.scss';

.plansContainer {
	display: grid;
	grid-template-areas:
		'title title'
		'planL planR'
		'button button';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 7fr 1fr;
	place-items: center;

	.stepTitle {
		color: $primaryColor;
		font-size: 2rem;
		grid-area: title;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

		@include breakpoint($desktop2K) {
			font-size: 2.4rem;
		}
	}

	> .buttonContainer {
		display: grid;
		grid-area: button;
		&:nth-of-type(3) {
			justify-self: flex-start;
			margin-left: 3rem;
		}
		&:nth-of-type(4) {
			justify-self: flex-end;
			margin-right: 3rem;
		}
	}

	.planTile {
		grid-area: plan;
		background-color: rgba($primaryColor, 0.5);
		border: 1px solid $gradientStart;
		border-radius: 1rem;
		display: grid;
		grid-template-rows: 2fr 6fr 2fr;
		height: 90%;
		transition: transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
		width: 75%;

		@include breakpoint($desktop2K) {
			border-radius: 1.5rem;
			height: 80%;
			width: 65%;
		}

		&:nth-of-type(1) {
			grid-area: planL;
		}
		&:nth-of-type(2) {
			grid-area: planR;
		}
		&:hover {
			transform: scale(1.05);
		}

		.planTitle {
			align-items: center;
			color: $gradientStart;
			display: flex;
			margin-left: 1rem;
			position: relative;

			&:before {
				background: $gradientStart;
				bottom: 10px;
				content: '';
				height: 4px;
				position: absolute;
				width: 15%;
			}
		}
		.buttonContainer {
			align-items: center;
			display: flex;
			justify-content: center;

			.formButton {
				font-weight: 600;
				padding: 0.75rem 2rem;
			}
		}

		.inputsContainer {
			align-items: center;
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			justify-content: center;

			.inputField {
				background-color: white;
				border: 0;
				border-radius: 0.75rem;
				box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.1);
				color: $accentColor;
				font-size: 1rem;
				line-height: 1.3rem;
				outline: 0;
				padding: 0.5rem 1rem;

				&:focus {
					outline: 2px solid $gradientStart;
				}
			}
		}

		.sliderContainer {
			color: $accentColor;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			margin: 0 auto;
			width: 90%;

			.sliderInfo {
				align-items: center;
				display: flex;
				justify-content: space-between;
				position: relative;
				top: 15px;

				.sliderLabel {
					font-weight: 500;

					@include breakpoint($desktop2K) {
						font-size: 1.2rem;
					}
				}
				.sliderValue {
					font-size: 1.2rem;
					font-weight: 500;

					@include breakpoint($desktop2K) {
						font-size: 1.3rem;
					}
				}
			}

			.inputSlider {
				appearance: none;
				background-color: $secondaryColor;
				border-radius: 4px;
				box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);
				height: 6px;
				margin: 2rem 0;

				@include breakpoint($phone) {
					height: 8px;
				}
				@include breakpoint($xsLaptop) {
					height: 6px;
				}
				@include breakpointIPadProLandscape() {
					height: 8px;
				}
				@include breakpoint($desktop) {
					height: 8px;
				}
				@include breakpointExtended($desktop2K, $height2K) {
					height: 10px;
				}
				@include breakpoint($desktop4K) {
					height: 12px;
				}

				&::-webkit-slider-thumb {
					background: $accentColor;
					border-radius: 50%;
					cursor: ew-resize;
					height: 20px;
					width: 20px;
					-webkit-appearance: none;
				}
			}

			.inputSliderDescription {
				color: $accentColor;
				font-size: 1.1rem;
				padding: 0 0.25rem;
				text-align: center;

				@include breakpoint($desktop2K) {
					font-size: 1.15rem;
				}
			}
		}
	}
	.pickedPlan {
		outline: 3px solid $gradientStart;
	}
}
