@import '../main.scss';

.plansContainer {
	display: grid;
	grid-template-areas:
		'title'
		'planL'
		'planR'
		'button';
	padding: 1.5rem 0;
	place-items: center;
	gap: 1.5rem;
	@include breakpoint($sPhone) {
		gap: 2rem;
	}
	@include breakpoint($xsLaptop) {
		gap: 0;
		grid-template-areas:
			'title title'
			'planL planR'
			'button button';
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 7fr 1fr;
		padding: unset;
	}

	.stepTitle {
		color: $primaryColor;
		font-size: 1.5rem;
		grid-area: title;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		text-align: center;
		@include breakpoint($xsPhone) {
			width: 80%;
		}
		@include breakpoint($sPhone) {
			font-size: 1.7rem;
		}
		@include breakpoint($xsLaptop) {
			font-size: 2rem;
			text-align: unset;
			width: unset;
		}
		@include breakpoint($desktop2K) {
			font-size: 2.4rem;
		}
	}

	> .buttonContainer {
		display: grid;
		grid-area: button;
		&:nth-of-type(3) {
			justify-self: flex-start;
			margin-left: 1.25rem;
			@include breakpoint($xsLaptop) {
				margin-left: 3rem;
			}
			.formButton {
				padding: 0.75rem 1rem;
				@include breakpoint($xsLaptop) {
					padding: 0.75rem 2rem;
				}
			}
		}
		&:nth-of-type(4) {
			justify-self: flex-end;
			margin-right: 1.25rem;
			@include breakpoint($xsLaptop) {
				margin-right: 3rem;
			}
			.formButton {
				padding: 0.75rem 1rem;
				@include breakpoint($xsLaptop) {
					padding: 0.75rem 2rem;
				}
			}
		}
	}

	.planTile {
		background-color: rgba($primaryColor, 0.5);
		border: 1px solid $gradientStart;
		border-radius: 1rem;
		display: grid;
		grid-area: plan;
		grid-template-rows: 2fr 6.5fr 2.5fr;
		height: 90%;
		transition: transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
		width: 85%;
		min-height: 420px;
		@include breakpoint($xsPhone) {
			min-height: 360px;
		}

		@include breakpoint($xsLaptop) {
			grid-template-rows: 2fr 6fr 2fr;
			width: 70%;
		}

		@include breakpoint($desktop2K) {
			border-radius: 1.5rem;
			height: 80%;
			width: 65%;
		}

		&:nth-of-type(1) {
			grid-area: planL;
		}
		&:nth-of-type(2) {
			grid-area: planR;
		}
		&:hover {
			transform: scale(1.05);
		}

		.planTitle {
			align-items: center;
			color: $gradientStart;
			display: flex;
			font-size: 1.35rem;
			margin: 0 auto;
			position: relative;
			min-width: 175px;
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
			@include breakpoint($xsPhone) {
				font-size: 1.5rem;
				min-width: 200px;
			}
			@include breakpoint($sPhone) {
				margin-left: 1.25rem;
			}
			@include breakpoint($phone) {
				min-width: unset;
			}
			@include breakpoint($xsLaptop) {
				font-size: 1.6rem;
				margin: 0 0 0 1rem;
			}

			&:before {
				background: $gradientStart;
				bottom: 10px;
				content: '';
				height: 4px;
				position: absolute;
				width: 25%;
				@include breakpoint($xsLaptop) {
					width: 15%;
				}
			}
		}
		.buttonContainer {
			align-items: center;
			display: flex;
			justify-content: center;

			.formButton {
				border-radius: 0.75rem;
				font-weight: 600;
				padding: 0.6rem 1.5rem;
				@include breakpoint($sPhone) {
					font-size: 1rem;
				}
				@include breakpoint($xsLaptop) {
					border-radius: 1rem;
					padding: 0.75rem 2rem;
				}
			}
		}

		.inputsContainer {
			align-items: center;
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			justify-content: center;
			width: 100%;

			@include breakpoint($xsLaptop) {
				width: unset;
			}
			.inputContainer {
				width: 75%;
				@include breakpoint($xsLaptop) {
					width: 70%;
				}
				.inputField {
					font-size: 0.9rem;
					padding: 0.5rem 0.75rem;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					width: 100%;
					@include breakpoint($sPhone) {
						font-size: 1rem;
					}
					@include breakpoint($xsLaptop) {
						padding: 0.5rem 1rem;
					}
					&::placeholder {
						font-size: 0.75rem;
						@include breakpoint($sPhone) {
							font-size: 0.9rem;
						}
						@include breakpoint($xsLaptop) {
							font-size: 1rem;
						}
					}
				}
			}
		}

		.sliderContainer {
			color: $accentColor;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			margin: 0 auto;
			padding: 0 0.25rem;
			width: 90%;
			@include breakpoint($sPhone) {
				padding: 0 0.5rem;
			}
			@include breakpoint($xsLaptop) {
				padding: 0;
			}

			.sliderInfo {
				align-items: center;
				display: flex;
				justify-content: space-between;
				position: relative;
				top: 15px;

				.sliderLabel {
					font-size: 1rem;
					font-weight: 500;
					width: 80%;
					@include breakpoint($xsPhone) {
						width: 85%;
					}
					@include breakpoint($xsLaptop) {
						font-size: unset;
						width: unset;
					}
					@include breakpoint($desktop2K) {
						font-size: 1.2rem;
					}
				}
				.sliderValue {
					font-size: 1.1rem;
					font-weight: 500;
					@include breakpoint($xsLaptop) {
						font-size: 1.2rem;
					}
					@include breakpoint($desktop2K) {
						font-size: 1.3rem;
					}
				}
			}

			.inputSlider {
				appearance: none;
				background-color: $secondaryColor;
				border-radius: 4px;
				box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);
				height: 6px;
				margin: 2rem 0 1rem;
				@include breakpoint($phone) {
					height: 8px;
				}
				@include breakpoint($xsLaptop) {
					height: 6px;
					margin: 2rem 0;
				}
				@include breakpointIPadProLandscape() {
					height: 8px;
				}
				@include breakpoint($desktop) {
					height: 8px;
				}
				@include breakpointExtended($desktop2K, $height2K) {
					height: 10px;
				}
				@include breakpoint($desktop4K) {
					height: 12px;
				}

				&::-webkit-slider-thumb {
					background: $accentColor;
					border-radius: 50%;
					cursor: ew-resize;
					height: 20px;
					width: 20px;
					-webkit-appearance: none;
				}
			}

			.inputSliderDescription {
				color: $accentColor;
				font-size: 0.9rem;
				text-align: center;
				@include breakpoint($xsLaptop) {
					font-size: 1.1rem;
				}
				@include breakpoint($desktop2K) {
					font-size: 1.15rem;
				}
			}
		}
	}
	.pickedPlan {
		outline: 3px solid $gradientStart;
	}
}
