@import '../main.scss';

.productsFormContainer {
	display: grid;
	grid-template-areas:
		'summary  cart'
		'summary  cart'
		'button button';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 4fr 4fr 1fr;

	.cartContainer {
		color: $primaryColor;
		grid-area: cart;
		height: 80%;
		justify-self: flex-end;
		padding: 1rem;
		width: 100%;

		.cartHeading {
			font-size: 1.8rem;
			letter-spacing: 0.1rem;
			position: relative;
			text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
			&:before {
				background-color: $primaryColor;
				box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
				content: '';
				width: 100%;
				height: 4px;
				position: absolute;
				bottom: -10px;
			}
			@include breakpoint($desktop2K) {
				font-size: 2rem;
			}
		}
		.cartList {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			height: 100%;
			list-style: none;
			margin-top: 2rem;
			max-height: 400px;
			overflow-y: auto;
			padding-right: 1rem;
			width: 100%;

			&::-webkit-scrollbar-track {
				background-color: #f5f5f5;
				border-radius: 10px;
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			}

			&::-webkit-scrollbar {
				background-color: #f5f5f5;
				border-radius: 10px;
				width: 12px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #555;
				border-radius: 10px;
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			}

			.cartListItem {
				align-items: center;
				border: 1px solid $primaryColor;
				border-radius: 1rem;
				display: flex;
				gap: 1rem;
				justify-content: space-between;
				padding: 1rem;

				.productImg {
					border-radius: 0.5rem;
					height: 70px;
					width: 70px;
				}
				.productInfoContainer {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					width: calc(100% - 100px);

					.productDescription {
						font-size: 1rem;
						letter-spacing: 0.05rem;

						@include breakpoint($desktop2K) {
							font-size: 1.1rem;
						}
					}

					.productName {
						font-size: 1.1rem;

						@include breakpoint($desktop2K) {
							font-size: 1.4rem;
						}
					}
				}
				.productControls {
					align-items: center;
					display: flex;
					gap: 0.5rem;
					@include no-selectable;

					.minusSign {
						cursor: pointer;
						font-size: 1.4rem;
						font-weight: 500;

						@include breakpoint($desktop2K) {
							font-size: 1.5rem;
						}
					}

					.plusSign {
						cursor: pointer;
						font-size: 1.4rem;
						font-weight: 500;

						@include breakpoint($desktop2K) {
							font-size: 1.5rem;
						}
					}

					.productQuantity {
						font-size: 1.4rem;
						font-weight: 500;

						@include breakpoint($desktop2K) {
							font-size: 1.5rem;
						}
					}
				}
			}
			.addNewProductContainer {
				.buttonContainer {
					height: 50px;
					width: 100%;
					.formButton {
						font-size: 1.2rem;
						width: 100%;
					}
				}
			}
		}
	}

	.productsSummary {
		border: 2px solid $primaryColor;
		border-radius: 1rem;
		display: grid;
		grid-area: summary;
		grid-template-rows: 1.5fr 3fr 1fr;
		height: 80%;
		padding: 1.5rem;
		width: 80%;

		@include breakpoint($desktop2K) {
			border-radius: 1.5rem;
			margin-top: 2rem;
		}

		.summaryInfo {
			color: $primaryColor;
			position: relative;
			&:before {
				background-color: $primaryColor;
				bottom: 15%;
				box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
				content: '';
				height: 6px;
				left: 0;
				position: absolute;
				width: 20%;
			}
			.summaryHeading {
				font-size: 1.7rem;
				letter-spacing: 0.05rem;
				text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

				@include breakpoint($desktop2K) {
					font-size: 1.8rem;
				}
			}
			.summarySubHeading {
				font-size: 1.1rem;
				letter-spacing: 0.05rem;
				text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

				@include breakpoint($desktop2K) {
					font-size: 1.2rem;
				}
			}
		}
	}
	.summaryPrice {
		align-self: flex-end;
		color: $primaryColor;
		font-size: 1.7rem;
		font-weight: 500;
		justify-self: flex-end;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

		@include breakpoint($desktop2K) {
			font-size: 2rem;
		}
	}
	.summaryProducts {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 0 3rem 0 1rem;

		.summaryProduct {
			color: $primaryColor;
			display: flex;
			font-size: 1.3rem;
			font-weight: 500;
			justify-content: space-between;
			text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
			@include breakpoint($desktop2K) {
				font-size: 1.5rem;
			}
		}
	}
	> .buttonContainer {
		align-items: center;
		display: grid;
		grid-area: button;
		&:nth-of-type(3) {
			align-self: center;
			justify-self: flex-start;
			margin-left: 3rem;
		}
		&:nth-of-type(4) {
			align-self: center;
			justify-self: flex-end;
			margin-right: 3rem;
		}
		.formButton {
			grid-area: button;
		}
	}
}
