@import '../main.scss';

.productsFormContainer {
	display: grid;
	grid-template-areas:
		'summary  cart'
		'summary  cart'
		'button button';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 4fr 4fr 1fr;

	.cartContainer {
		color: $primaryColor;
		grid-area: cart;
		height: 80%;
		justify-self: flex-end;
		padding: 1rem;
		width: 100%;

		.cartHeading {
			font-size: 1.8rem;
			letter-spacing: 0.1rem;
			position: relative;
			text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
			&:before {
				background-color: $primaryColor;
				box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
				content: '';
				width: 100%;
				height: 4px;
				position: absolute;
				bottom: -10px;
			}
		}
		.cartList {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			height: 100%;
			list-style: none;
			margin-top: 2rem;
			max-height: 400px;
			overflow-y: auto;
			padding-right: 1rem;
			width: 100%;

			&::-webkit-scrollbar-track {
				background-color: #f5f5f5;
				border-radius: 10px;
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			}

			&::-webkit-scrollbar {
				background-color: #f5f5f5;
				border-radius: 10px;
				width: 12px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #555;
				border-radius: 10px;
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			}

			.cartListItem {
				align-items: center;
				border: 1px solid $primaryColor;
				border-radius: 1rem;
				display: flex;
				justify-content: space-between;
				padding: 1rem;

				.productImg {
					height: 70px;
					width: 70px;
				}
				.productInfoContainer {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					width: calc(100% - 100px);

					.productDescription {
						font-size: 1rem;
						letter-spacing: 0.05rem;
					}

					.productName {
						font-size: 1.1rem;
					}
				}
				.productControls {
					align-items: center;
					display: flex;
					gap: 0.5rem;

					.minusSign {
						cursor: pointer;
						font-size: 1.4rem;
						font-weight: 500;
					}

					.plusSign {
						cursor: pointer;
						font-size: 1.4rem;
						font-weight: 500;
					}

					.productQuantity {
						font-size: 1.4rem;
						font-weight: 500;
					}
				}
			}
			.addNewProductContainer {
				.buttonContainer {
					height: 50px;
					width: 100%;
					.formButton {
						background-color: $primaryColor;
						border: 2px solid $gradientStart;
						border-radius: 1rem;
						color: $gradientStart;
						cursor: pointer;
						font-size: 1.2rem;
						height: 100%;
						width: 100%;
						transition: background-color 0.15s ease-out;

						&:hover {
							background-color: $gradientStart;
							border-color: $primaryColor;
							color: $primaryColor;
						}
					}
				}
			}
		}
	}

	.productsSummary {
		border: 2px solid $primaryColor;
		border-radius: 1rem;
		display: grid;
		grid-area: summary;
		grid-template-rows: 1.5fr 3fr 1fr;
		height: 80%;
		padding: 1.5rem;
		width: 80%;

		.summaryInfo {
			color: $primaryColor;
			position: relative;
			&:before {
				background-color: $primaryColor;
				bottom: 15%;
				box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
				content: '';
				height: 6px;
				left: 0;
				position: absolute;
				width: 20%;
			}
			.summaryHeading {
				font-size: 1.7rem;
				letter-spacing: 0.05rem;
				text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
			}
			.summarySubHeading {
				font-size: 1.1rem;
				letter-spacing: 0.05rem;
				text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
			}
		}
	}
	.summaryPrice {
		align-self: flex-end;
		color: $primaryColor;
		font-size: 1.7rem;
		font-weight: 500;
		justify-self: flex-end;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	}
	.summaryProducts {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 0 3rem 0 1rem;

		.summaryProduct {
			color: $primaryColor;
			display: flex;
			font-size: 1.3rem;
			font-weight: 500;
			justify-content: space-between;
			text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		}
	}
	> .buttonContainer {
		align-items: center;
		display: grid;
		grid-area: button;
		&:nth-of-type(3) {
			align-self: center;
			justify-self: flex-start;
			margin-left: 3rem;
		}
		&:nth-of-type(4) {
			align-self: center;
			justify-self: flex-end;
			margin-right: 3rem;
		}
		.formButton {
			background-color: $primaryColor;
			border: 2px solid $gradientStart;
			border-radius: 1rem;
			color: $gradientStart;
			cursor: pointer;
			font-size: 1rem;
			font-weight: 600;
			grid-area: button;
			letter-spacing: 0.1rem;
			padding: 0.75rem 2rem;
			position: relative;
			transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

			&:disabled {
				cursor: not-allowed;

				&:hover {
					background-color: #9e9e9e;
					border: 2px solid $gradientStart;
					color: $gradientStart;
				}
			}

			&:hover {
				background-color: $gradientStart;
				border-color: $primaryColor;
				color: $primaryColor;
			}
		}
	}
}
