@import '../main.scss';

.requestFormContainer {
	display: grid;
	flex-direction: column;
	grid-template-areas:
		'heading'
		'submitBtn'
		'backBtn';
	grid-template-rows: 1.5fr 6.5fr 1fr;
	position: relative;
	.heading {
		color: $primaryColor;
		font-size: 1.8rem;
		grid-area: heading;
		margin: 1rem 0 0 1rem;
		position: relative;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		width: 50%;
		@include breakpoint($desktop2K) {
			font-size: 2rem;
			width: 60%;
		}
		&:before {
			background-color: $primaryColor;
			bottom: -1rem;
			box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
			content: '';
			height: 0.5rem;
			left: 0;
			position: absolute;
			width: 20%;
		}
	}

	.buttonContainer {
		display: grid;
		height: 100%;
		width: 100%;
		.formButton {
			grid-area: button;
			position: absolute;

			&#back {
				align-self: center;
				grid-area: backBtn;
				margin-left: 3rem;
			}
			&#submit {
				font-size: 1.5rem;
				grid-area: submitBtn;
				padding: 1rem 3rem;
				place-self: center;
				@include breakpoint($desktop2K) {
					font-size: 1.9rem;
					line-height: 2.4rem;
				}
			}
		}
	}
	.responseMessage {
		align-self: center;
		color: $primaryColor;
		display: flex;
		font-size: 1.7rem;
		font-weight: 500;
		justify-self: center;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	}
}
