@import '../main.scss';

.requestFormContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	.heading {
		color: $primaryColor;
		width: 50%;
	}

	.formButton {
		background-color: $primaryColor;
		border: 2px solid $gradientStart;
		border-radius: 1rem;
		color: $gradientStart;
		cursor: pointer;
		font-size: 1rem;
		font-weight: 600;
		grid-area: button;
		letter-spacing: 0.1rem;
		padding: 0.75rem 2rem;
		position: absolute;
		transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

		&:hover {
			background-color: $gradientStart;
			border-color: $primaryColor;
			color: $primaryColor;
		}
	}
}
