@import '../main.scss';

.requestFormContainer {
	display: grid;
	flex-direction: column;
	grid-template-areas:
		'heading'
		'submitBtn'
		'backBtn';
	grid-template-rows: 1.5fr 4.5fr 1fr;
	position: relative;
	padding: 1.25rem 0 1.5rem;
	@include breakpoint($sPhone) {
		grid-template-rows: 1.5fr 5.5fr 1fr;
	}
	@include breakpoint($phone) {
		grid-template-rows: 1.5fr 5fr 1fr;
		padding: 1.5rem 0;
	}
	@include breakpoint($tablet) {
		grid-template-rows: 1.5fr 7fr 1fr;
	}
	@include breakpoint($xsLaptop) {
		grid-template-rows: 1.5fr 6.5fr 1fr;
		padding: 0;
	}

	.heading {
		color: $primaryColor;
		font-size: 1.3rem;
		font-weight: 500;
		grid-area: heading;
		margin-left: 1.5rem;
		position: relative;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		width: 80%;
		@include breakpoint($sPhone) {
			width: 70%;
		}
		@include breakpoint($phone) {
			margin-left: 1.75rem;
			width: 65%;
		}
		@include breakpoint($lPhone) {
			width: 70%;
		}
		@include breakpoint($tablet) {
			width: 60%;
		}
		@include breakpoint($xsLaptop) {
			font-size: 1.5rem;
			font-weight: 600;
			margin: 1rem 0 0 1.5rem;
			width: 50%;
		}
		@include breakpoint($laptop) {
			font-size: 1.7rem;
		}
		@include breakpointExtended($lLaptop, $heightSmallLLaptop) {
			font-size: 1.7rem;
			width: 50%;
		}
		@include breakpointExtended($lLaptop, $heightStandardLLaptop) {
			font-size: 1.9rem;
			width: 60%;
		}
		@include breakpoint($sDesktop) {
			width: 50%;
		}
		@include breakpoint($desktop) {
			font-size: 2.1rem;
			margin: 1rem 0 0 1.5rem;
		}
		@include breakpoint($desktop2K) {
			font-size: 2.2rem;
		}
		@include breakpointExtended($desktop2K, $height2K) {
			font-size: 2.6rem;
			width: 60%;
			margin: 1rem 0 0 2rem;
		}
		@include breakpoint($desktop4K) {
			font-size: 4rem;
			margin: 2rem 0 0 3rem;
		}
		&:before {
			background-color: $primaryColor;
			bottom: -1rem;
			box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
			content: '';
			height: 0.25rem;
			left: 0;
			position: absolute;
			width: 20%;
			@include breakpoint($xsLaptop) {
				height: 0.5rem;
			}
			@include breakpoint($desktop4K) {
				height: 0.7rem;
				bottom: -1.5rem;
			}
		}
	}

	.buttonContainer {
		display: grid;
		height: 100%;
		// width: 100%;
		@include breakpoint($xsLaptop) {
			width: 100%;
		}
		.formButton {
			grid-area: button;
			position: absolute;

			&#back {
				align-self: center;
				grid-area: backBtn;
				margin-left: 1.5rem;
				padding: 0.75rem 1rem;
				@include breakpoint($xsLaptop) {
					margin-left: 3rem;
					font-size: 0.9rem;
					padding: 0.75rem 1.5rem;
				}
				@include breakpoint($lLaptop) {
					font-size: 1rem;
				}
				@include breakpoint($desktop) {
					padding: 0.75rem 2rem;
					font-size: 1.1rem;
				}
				@include breakpoint($desktop2K) {
					font-size: 1.2rem;
				}
				@include breakpointExtended($desktop2K, $height2K) {
					font-size: 1.5rem;
				}
				@include breakpoint($desktop4K) {
					font-size: 2.4rem;
					padding: 1rem 3rem;
				}
			}
			&#submit {
				font-size: 0.9rem;
				grid-area: submitBtn;
				padding: 0.75rem 1rem;
				place-self: center;
				@include breakpoint($xsPhone) {
					font-size: 1rem;
				}
				@include breakpoint($tablet) {
					font-size: 1.2rem;
				}
				@include breakpoint($xsLaptop) {
					font-size: 1.3rem;
					padding: 1rem 2.5rem;
				}
				@include breakpoint($lLaptop) {
					font-size: 1.6rem;
				}
				@include breakpoint($desktop) {
					font-size: 1.8rem;
					padding: 1rem 3rem;
				}
				@include breakpoint($desktop2K) {
					font-size: 2.1rem;
					line-height: 2.4rem;
				}
				@include breakpointExtended($desktop2K, $height2K) {
					font-size: 2.4rem;
					line-height: 3.4rem;
					padding: 1.25rem 4rem;
				}
				@include breakpoint($desktop4K) {
					border-width: 6px;
					border-radius: 2rem;
					font-size: 4rem;
					line-height: 4.6rem;
					padding: 2rem 4rem;
				}
			}
		}
	}
	.responseMessage {
		align-self: center;
		color: $primaryColor;
		display: flex;
		font-size: 1.2rem;
		font-weight: 500;
		justify-self: center;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		text-align: center;
		padding: 0 1rem;
		@include breakpoint($phone) {
			font-size: 1.3rem;
			padding: 0 1.5rem;
		}
		@include breakpoint($xsLaptop) {
			font-size: 1.7rem;
		}
		@include breakpoint($lLaptop) {
			padding: 0 4rem;
			font-size: 1.9rem;
		}
		@include breakpoint($desktop) {
			padding: 0 4rem;
			font-size: 2.1rem;
		}
		@include breakpoint($desktop2K) {
			font-size: 2.3rem;
		}
		@include breakpointExtended($desktop2K, $height2K) {
			font-size: 2.8rem;
		}
		@include breakpoint($desktop4K) {
			font-size: 4.2rem;
			padding: 0 6rem;
		}
	}
}
