@import '../main.scss';

.sliderContainer {
	display: flex;
	justify-content: center;
	height: 90vw;
	margin-top: 5rem;
	width: 100%;
	@include breakpoint($xsLaptop) {
		height: 100%;
		justify-content: flex-end;
		margin-top: 10rem;
		margin-right: 5rem;
		width: 50%;
	}

	.slider {
		align-items: center;
		background: linear-gradient($gradientStart, $gradientEnd);
		border-radius: 3rem;
		box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.1);
		display: flex;
		height: 100%;
		justify-content: center;
		width: 100%;
		@include breakpoint($xsLaptop) {
			height: 70%;
			width: 70%;
		}

		.slideImage {
			height: 80%;
			transition: all 1s linear;
			width: 80%;
			// opacity: 1;
		}
	}
}
.activeSlide {
	opacity: 1;
}
