@import '../main.scss';

.subscriptionHome,
.subscriptionStandard {
	height: 30rem;
	width: 30rem;
	.subscriptionTitleContainer {
		align-items: center;
		background-color: #192723;
		border-right: 1px solid #808080;
		display: flex;
		height: 9%;
		justify-content: center;
		width: 100%;

		.subscriptionTitle {
			color: white;
			font-family: 'AllRoundGothic-Bold, All Round Gothic';
			font-size: 1.25rem;
		}
	}
	.subscriptionBox {
		display: flex;
		flex-direction: column;
		padding: 1.5rem;
		.subscriptionPrice {
			font-family: 'AllRoundGothic-Demi, All Round Gothic';
			font-size: 2.2rem;
			font-weight: 400;
		}
		.subscriptionWorkers {
			align-items: center;
			display: flex;
			justify-content: space-between;
			font-family: 'AllRoundGothic-Demi, All Round Gothic';
			font-size: 1.5rem;
			padding-top: 1rem;
			width: 100%;
			.workersAmount {
				display: flex;
				gap: 0.5rem;

				.peopleImage {
					height: 2rem;
					width: 50%;
				}
				.subscriptionPeople {
					font-family: 'AllRoundGothic-Demi, All Round Gothic';
					font-size: 2.2rem;
				}
			}
		}
		.inputSlider {
			appearance: none;
			background-color: $secondaryColor;
			border-radius: 4px;
			height: 8px;
			margin: 2rem 0;
			width: 100%;

			&::-webkit-slider-thumb {
				background: $accentColor;
				border-radius: 50%;
				cursor: ew-resize;
				height: 24px;
				width: 24px;
				-webkit-appearance: none;
			}
		}
		.productsHeading {
			font-family: 'AllRoundGothic-Demi, All Round Gothic';
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}
		.subscriptionsAmounts {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			margin-bottom: 0.625rem;
			.subscriptionAmount {
				display: flex;
				justify-content: space-between;
				.productType {
					font-family: 'AllRoundGothic-Demi, All Round Gothic';
					font-size: 1.25rem;
				}

				.productControls {
					align-items: center;
					display: flex;
					.amountPlaceholder {
						border: 1px solid $secondaryColor;
						border-radius: 8px;
						font-family: 'AllRoundGothic-Demi, All Round Gothic';
						font-size: 1.25rem;
						height: 24px;
						margin: 0 0.5rem;
						text-align: center;
						width: 24px;
					}
					.minusButton {
						cursor: pointer;
						height: 100%;
						@include no-selectable;
					}
					.plusButton {
						cursor: pointer;
						font-size: 1rem;
						height: 100%;
						@include no-selectable;
					}
				}
			}
		}
		.submitButtonHome {
			background: $secondaryColor;
			border: 2px solid transparent;
			border-radius: 3rem;
			box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
			font-family: 'BookmanOldStyle, Bookman Old Style';
			font-size: 1rem;
			margin: 1.5rem auto 0 auto;
			padding: 0.5rem 1.25rem;
			width: fit-content;
			cursor: pointer;
			&:hover {
				background-color: white;
				border: 2px solid $secondaryColor;
			}
		}
	}
}
.subscriptionStandard {
	background-color: #fafafa;
	.subscriptionsAmountsContainer {
		.sliderContainer {
			.inputSlider {
				margin: 1.5rem 0;
				position: relative;
				z-index: 5;
			}
			.sliderText {
				bottom: -30px;
				display: flex;
				justify-content: space-between;
				position: relative;
				.productTypeSlider {
					font-family: 'AllRoundGothic-Demi, All Round Gothic';
					font-size: 1.5rem;
				}
				.productAmountSlider {
					bottom: 20px;
					font-family: 'AllRoundGothic-Demi, All Round Gothic';
					font-size: 2.25rem;
					height: 39px;
					position: relative;
				}
			}
		}
	}
	.submitButton {
		background: white;
		border: 2px solid $secondaryColor;
		border-radius: 3rem;
		box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		font-family: 'BookmanOldStyle, Bookman Old Style';
		font-size: 1rem;
		margin: 1.5rem auto 0 auto;
		padding: 0.5rem 1.25rem;
		width: fit-content;

		&:hover {
			background-color: $secondaryColor;
		}
	}
}
