@import '../main.scss';

.subscriptionHome,
.subscriptionStandard {
	height: 28rem;
	width: 100%;
	@include breakpoint($lPhone) {
		height: 30rem;
	}
	@include breakpoint($tablet) {
		height: 32rem;
	}
	@include breakpoint($xsLaptop) {
		height: 30rem;
		width: 30rem;
	}
	@include breakpointIPadProPortrait() {
		height: 32rem;
	}
	@include breakpoint($sLaptop) {
		height: 30rem;
	}
	@include breakpoint($desktop) {
		height: 32rem;
	}
	@include breakpoint($desktop) {
		width: 100%;
	}

	.subscriptionTitleContainer {
		align-items: center;
		background-color: #192723;
		display: flex;
		height: 9%;
		justify-content: center;
		width: 100%;
		@include breakpoint($xsLaptop) {
			border-right: 1px solid #808080;
		}

		.subscriptionTitle {
			color: white;
			font-family: 'AllRoundGothic-Bold, All Round Gothic';
			font-size: 1.1rem;
			@include breakpoint($lPhone) {
				font-size: 1.25rem;
			}
			@include breakpoint($tablet) {
				font-size: 1.5rem;
			}
			@include breakpoint($xsLaptop) {
				font-size: 1.3rem;
			}
			@include breakpoint($desktop) {
				font-size: 1.4rem;
			}
		}
	}
	.subscriptionBox {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		@include breakpoint($lPhone) {
			padding: 1.5rem;
		}
		@include breakpoint($tablet) {
			padding: 2rem 2.5rem;
		}
		@include breakpoint($xsLaptop) {
			padding: 2rem 1.5rem;
		}
		@include breakpoint($sDesktop) {
			padding: 2rem;
		}
		.subscriptionPrice {
			font-family: 'AllRoundGothic-Demi, All Round Gothic';
			font-size: 1.4rem;
			font-weight: 400;
			@include breakpoint($xsPhone) {
				font-size: 1.5rem;
			}
			@include breakpoint($phone) {
				font-size: 1.8rem;
			}
			@include breakpoint($lPhone) {
				font-size: 1.9rem;
			}
			@include breakpoint($tablet) {
				font-size: 2.2rem;
			}
			@include breakpoint($xsLaptop) {
				font-size: 1.9rem;
			}
			@include breakpoint($sLaptop) {
				font-size: 2.2rem;
			}
			@include breakpoint($sDesktop) {
				font-size: 2.3rem;
			}
			@include breakpoint($desktop) {
				font-size: 2.5rem;
			}
		}
		.subscriptionWorkers {
			align-items: center;
			display: flex;
			justify-content: space-between;
			font-family: 'AllRoundGothic-Demi, All Round Gothic';
			font-size: 1rem;
			padding-top: 1rem;
			width: 100%;
			@include breakpoint($xsPhone) {
				font-size: 1.1rem;
			}
			@include breakpoint($phone) {
				font-size: 1.2rem;
			}
			@include breakpoint($tablet) {
				font-size: 1.5rem;
			}
			@include breakpoint($xsLaptop) {
				font-size: 1.2rem;
			}
			@include breakpoint($desktop) {
				font-size: 1.4rem;
			}
			.workersAmount {
				display: flex;
				gap: 0.5rem;

				.peopleImage {
					height: 1.75rem;
					width: 50%;
					@include breakpoint($lPhone) {
						height: 2rem;
						width: 3rem;
					}
					@include breakpoint($tablet) {
						width: 3.5rem;
					}
					@include breakpointIPadProPortrait() {
						width: 3rem;
					}
					@include breakpoint($sLaptop) {
						width: 3.5rem;
					}
				}
				.subscriptionPeople {
					font-family: 'AllRoundGothic-Demi, All Round Gothic';
					font-size: 1.6rem;
					@include breakpoint($phone) {
						font-size: 1.8rem;
					}
					@include breakpoint($lPhone) {
						font-size: 2rem;
					}
					@include breakpoint($tablet) {
						font-size: 2.2rem;
					}
					@include breakpoint($xsLaptop) {
						font-size: 1.75rem;
					}
				}
			}
		}
		.inputSlider {
			appearance: none;
			background-color: $secondaryColor;
			border-radius: 4px;
			height: 6px;
			margin: 2rem 0;
			width: 100%;
			@include breakpoint($phone) {
				height: 8px;
			}
			@include breakpoint($xsLaptop) {
				height: 6px;
			}
			@include breakpointIPadProLandscape() {
				height: 8px;
			}
			@include breakpoint($desktop) {
				height: 8px;
			}

			&::-webkit-slider-thumb {
				background: $accentColor;
				border-radius: 50%;
				cursor: ew-resize;
				height: 20px;
				width: 20px;
				-webkit-appearance: none;
				@include breakpoint($phone) {
					height: 24px;
					width: 24px;
				}
				@include breakpoint($tablet) {
					height: 28px;
					width: 28px;
				}
				@include breakpoint($xsLaptop) {
					height: 24px;
					width: 24px;
				}
				@include breakpointIPadProLandscape() {
					height: 28px;
					width: 28px;
				}
			}
		}
		.productsHeading {
			font-family: 'AllRoundGothic-Demi, All Round Gothic';
			font-size: 1.1rem;
			margin-bottom: 1rem;
			@include breakpoint($xsPhone) {
				font-size: 1.25rem;
			}
			@include breakpoint($phone) {
				font-size: 1.35rem;
			}
			@include breakpoint($lPhone) {
				font-size: 1.5rem;
			}
			@include breakpoint($tablet) {
				font-size: 1.7rem;
			}
			@include breakpoint($xsLaptop) {
				font-size: 1.3rem;
			}
			@include breakpoint($desktop) {
				font-size: 1.4rem;
			}
		}
		.subscriptionsAmounts {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			margin-bottom: 0.625rem;
			.subscriptionAmount {
				display: flex;
				justify-content: space-between;
				.productType {
					font-family: 'AllRoundGothic-Demi, All Round Gothic';
					font-size: 1.1rem;
					@include breakpoint($xsPhone) {
						font-size: 1.25rem;
					}
					@include breakpoint($tablet) {
						font-size: 1.4rem;
					}
					@include breakpoint($xsLaptop) {
						font-size: 1.2rem;
					}
					@include breakpoint($desktop) {
						font-size: 1.3rem;
					}
				}

				.productControls {
					align-items: center;
					display: flex;
					.amountPlaceholder {
						border: 1px solid $secondaryColor;
						border-radius: 8px;
						font-family: 'AllRoundGothic-Demi, All Round Gothic';
						font-size: 1.25rem;
						height: 24px;
						margin: 0 0.5rem;
						text-align: center;
						width: 24px;
						@include breakpoint($tablet) {
							font-size: 1.4rem;
							height: 32px;
							width: 32px;
						}
						@include breakpoint($xsLaptop) {
							font-size: 1.3rem;
							height: 28px;
							width: 28px;
						}
					}
					.minusButton {
						cursor: pointer;
						height: 100%;
						@include no-selectable;
						@include breakpoint($tablet) {
							font-size: 1.5rem;
							position: relative;
							top: -5px;
						}
					}
					.plusButton {
						cursor: pointer;
						font-size: 1rem;
						height: 100%;
						@include no-selectable;
						@include breakpoint($tablet) {
							font-size: 1.4rem;
							position: relative;
							top: -2px;
						}
					}
				}
			}
		}
		.submitButtonHome {
			background: $secondaryColor;
			border: 2px solid transparent;
			border-radius: 3rem;
			box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
			color: black;
			font-family: 'BookmanOldStyle, Bookman Old Style';
			font-size: 1rem;
			margin: 1.5rem auto 0 auto;
			padding: 0.5rem 0.75rem;
			width: fit-content;
			cursor: pointer;
			@include no-selectable;
			&:hover {
				background-color: white;
				border: 2px solid $secondaryColor;
			}
			@include breakpoint($lPhone) {
				padding: 0.5rem 1.25rem;
			}
			@include breakpoint($tablet) {
				font-size: 1.25rem;
				margin-top: 1rem;
				padding: 0.6rem 1.5rem;
			}
			@include breakpoint($xsLaptop) {
				font-size: 1.1rem;
				padding: 0.5rem 1.25rem;
			}
			@include breakpointIPadProLandscape() {
				margin-top: 0.5rem;
			}
		}
	}
}
.subscriptionStandard {
	background-color: #fafafa;
	.subscriptionBox {
		.subscriptionPrice {
			font-size: 1.25rem;
			@include breakpoint($xsPhone) {
				font-size: 1.5rem;
			}
			@include breakpoint($phone) {
				font-size: 1.8rem;
			}
			@include breakpoint($lPhone) {
				font-size: 1.9rem;
			}
			@include breakpoint($tablet) {
				font-size: 2.2rem;
			}
			@include breakpoint($xsLaptop) {
				font-size: 1.9rem;
			}
			@include breakpoint($sDesktop) {
				font-size: 2.3rem;
			}
			@include breakpoint($desktop) {
				font-size: 2.5rem;
			}
		}
		.subscriptionsAmountsContainer {
			.sliderContainer {
				.inputSlider {
					margin: 1.5rem 0;
					position: relative;
					z-index: 5;
				}
				.sliderText {
					bottom: -30px;
					display: flex;
					justify-content: space-between;
					position: relative;
					.productTypeSlider {
						font-family: 'AllRoundGothic-Demi, All Round Gothic';
						font-size: 1.2rem;
						@include breakpoint($xsPhone) {
							font-size: 1.3rem;
						}
						@include breakpoint($phone) {
							font-size: 1.4rem;
						}
						@include breakpoint($lPhone) {
							font-size: 1.5rem;
						}
						@include breakpoint($tablet) {
							bottom: 5px;
							font-size: 1.7rem;
							position: relative;
						}
						@include breakpoint($xsLaptop) {
							bottom: 0;
							font-size: 1.4rem;
						}
					}
					.productAmountSlider {
						bottom: 10px;
						font-family: 'AllRoundGothic-Demi, All Round Gothic';
						font-size: 1.5rem;
						height: 39px;
						position: relative;
						@include breakpoint($phone) {
							bottom: 15px;
							font-size: 1.75rem;
						}
						@include breakpoint($lPhone) {
							bottom: 20px;
							font-size: 2.25rem;
						}
						@include breakpoint($tablet) {
							bottom: 23px;
						}
						@include breakpoint($xsLaptop) {
							bottom: 13px;
							font-size: 1.75rem;
						}
						@include breakpoint($desktop) {
							font-size: 1.8rem;
						}
					}
				}
			}
		}
		.submitButton {
			background: white;
			border: 2px solid $secondaryColor;
			border-radius: 3rem;
			box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
			color: black;
			cursor: pointer;
			font-family: 'BookmanOldStyle, Bookman Old Style';
			font-size: 1rem;
			margin: 1.5rem auto 0 auto;
			padding: 0.5rem 0.75rem;
			width: fit-content;
			@include no-selectable;
			&:hover {
				background-color: $secondaryColor;
			}
			@include breakpoint($phone) {
				margin-top: 1rem;
			}
			@include breakpoint($lPhone) {
				margin: 1.5rem auto 0 auto;
				padding: 0.5rem 1.25rem;
			}
			@include breakpoint($tablet) {
				font-size: 1.25rem;
				padding: 0.6rem 1.5rem;
			}
			@include breakpoint($xsLaptop) {
				font-size: 1.1rem;
				margin-top: 2rem;
				padding: 0.5rem 1.25rem;
			}
			@include breakpointIPadProLandscape() {
				margin-top: 1.6rem;
			}
			@include breakpoint($sDesktop) {
				margin-top: 1.3rem;
			}
			@include breakpoint($desktop) {
				margin-top: 1.9rem;
			}
		}
	}
}
