@import '../main.scss';

.welcomeContainer {
	align-items: center;
	background-color: $primaryColor;
	display: flex;
	height: calc(100vh - 5rem);
	justify-content: space-evenly;
	margin: 0 5rem;
	@include breakpoint($xsLaptop) {
		height: calc(100vh - 7.5rem);
	}

	.contentContainer {
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		gap: 2rem;
		height: 100%;
		width: 50%;
		margin-top: 20rem;

		.heading {
			border-bottom: 2px solid $secondaryColor;
			border-top: 2px solid $secondaryColor;
			font-family: 'BookmanOldStyle, Bookman Old Style';
			font-size: 2.5rem;
			font-weight: 400;
			text-align: center;
			width: max-content;
		}
		.descriptionContainer {
			position: relative;
			width: 75%;

			.descriptionBox {
				background-color: white;
				border-radius: 2rem;
				box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.1);
				padding: 3rem;
				position: relative;
				z-index: 2;

				.description {
					font-family: 'AllRoundGothic-Book, All Round Gothic';
					font-size: 1.25rem;
					line-height: 2.5rem;
				}
			}

			.decorationLeavesLeft {
				bottom: -100px;
				left: -75px;
				position: absolute;
				z-index: 1;
			}

			.decorationLeavesRight {
				bottom: -100px;
				position: absolute;
				right: -75px;
				z-index: 1;
			}
		}
	}

	.sliderContainer {
		display: flex;
		justify-content: flex-end;
		width: 50%;
		height: 100%;
		margin-top: 10rem;
		margin-right: 5rem;

		.slider {
			align-items: center;
			background: linear-gradient($gradientStart, $gradientEnd);
			border-radius: 3rem;
			box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.1);
			display: flex;
			height: 70%;
			justify-content: center;
			width: 70%;

			.slideImage {
				height: 80%;
				width: 80%;
				transition: all 1s linear;
				opacity: 1;
				// &.activeSlide {
				// 	opacity: 0;
				// }
			}
		}
	}
}
.activeSlide {
	opacity: 1;
}
