@import '../main.scss';

.welcomeFormContainer {
	display: grid;
	grid-template-rows: 1.5fr 3fr;
	place-items: center;
	padding: 1.5rem 0 0;
	@include breakpoint($xsPhone) {
		grid-template-rows: 1.5fr 4fr;
	}
	@include breakpoint($sPhone) {
		grid-template-rows: 1.5fr 3fr;
		padding: 1.5rem 1.5rem 0;
	}
	@include breakpoint($lPhone) {
		grid-template-rows: 1.5fr 3.5fr;
	}
	@include breakpoint($tablet) {
		grid-template-rows: 1.5fr 5.5fr;
	}
	@include breakpoint($xsLaptop) {
		grid-template-rows: 1.5fr 4fr;
		padding: 0 1rem;
	}
	@include breakpoint($desktop) {
		grid-template-rows: 1.5fr 5fr;
	}

	.formDescription {
		color: $primaryColor;
		font-size: 0.9rem;
		font-weight: 500;
		line-height: 1.5rem;
		position: relative;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		width: 80%;
		@include breakpoint($xsPhone) {
			line-height: 1.3rem;
		}
		@include breakpoint($sPhone) {
			font-size: 1.15rem;
			line-height: 1.8rem;
			width: 100%;
		}
		@include breakpoint($phone) {
			font-size: 1.2rem;
		}
		@include breakpoint($tablet) {
			font-size: 1.3rem;
		}
		@include breakpoint($xsLaptop) {
			font-size: 1.5rem;
			line-height: 2.2rem;
			margin-top: 0;
		}
		@include breakpoint($desktop) {
			font-size: 1.7rem;
			line-height: 2.9rem;
		}
		@include breakpoint($desktop2K) {
			font-size: 1.8rem;
		}

		&::before {
			content: '';
			width: 35%;
			height: 0.25rem;
			background-color: $primaryColor;
			box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
			position: absolute;
			bottom: -1rem;
			left: 0;
			@include breakpoint($sPhone) {
				bottom: -2rem;
				height: 0.35rem;
			}
			@include breakpoint($phone) {
				bottom: -1.5rem;
			}
			@include breakpoint($tablet) {
				width: 25%;
			}
			@include breakpoint($xsLaptop) {
				width: 15%;
			}
		}
	}

	.formBody {
		display: grid;
		gap: 2rem;
		place-items: center;
		@include breakpoint($xsLaptop) {
			width: 50%;
		}
		@include breakpoint($desktop) {
			gap: 3rem;
			width: 40%;
		}

		.formFieldsContainer {
			display: grid;
			gap: 1rem;
			width: 85%;
			@include breakpoint($phone) {
				gap: 1.25rem;
			}
			@include breakpoint($tablet) {
				width: 90%;
			}
			@include breakpoint($xsLaptop) {
				gap: 1.5rem;
				width: 100%;
			}
			@include breakpoint($desktop) {
				gap: 2rem;
			}

			.inputContainer {
				.inputField {
					font-size: 1rem;
					line-height: 1rem;
					width: 100%;
					@include breakpoint($sPhone) {
						font-size: 1.1rem;
					}
					@include breakpoint($tablet) {
						font-size: 1.2rem;
					}
					@include breakpoint($xsLaptop) {
						font-size: 1.4rem;
						line-height: 1.8rem;
					}
					@include breakpoint($desktop) {
						font-size: 1.5rem;
						line-height: 2rem;
					}
				}
			}
		}
		.formButton {
			border-radius: 0.75rem;
			font-size: 0.8rem;
			font-weight: 500;
			padding: 0.6rem 0.75rem;
			@include breakpoint($sPhone) {
				font-size: 0.9rem;
				padding: 0.6rem 1rem;
			}
			@include breakpoint($phone) {
				font-size: 1rem;
			}
			@include breakpoint($tablet) {
				font-size: 1.1rem;
			}
			@include breakpoint($xsLaptop) {
				border-radius: 1rem;
				font-size: 1.3rem;
				padding: 0.75rem 2.5rem;
			}
			@include breakpoint($desktop) {
				font-size: 1.5rem;
			}
		}
	}
}
