@import '../main.scss';

.welcomeContainer {
	height: 90vh;
	height: calc(100vh - 5rem);
	background-color: $primaryColor;
	margin: 0 5rem;
	display: flex;
	align-items: center;
	justify-items: space-evenly;

	.contentContainer {
		width: 50%;
		height: 100%;
		.heading {
		}
		.descriptionBox {
			width: 50%;
			padding: 2rem;
			border-radius: 2rem;
			background-color: white;
			font-size: 1.25rem;

			.description {
			}
		}
	}
	.slider {
		border-radius: 3rem;
		width: 50%;
		height: 60%;
		background: linear-gradient($gradientStart, $gradientEnd);
	}
}
