@import '../main.scss';

.welcomeFormContainer {
	display: grid;
	grid-template-rows: 1.5fr 5fr;
	place-items: center;

	.formDescription {
		color: $primaryColor;
		font-size: 1.7rem;
		font-weight: 500;
		line-height: 2.9rem;
		position: relative;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

		@include breakpoint($desktop2K) {
			font-size: 1.8rem;
		}

		&::before {
			content: '';
			width: 15%;
			height: 0.5rem;
			background-color: $primaryColor;
			box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
			position: absolute;
			bottom: -2rem;
			left: 0;
		}
	}

	.formBody {
		display: grid;
		gap: 3rem;
		place-items: center;
		width: 40%;

		.formFieldsContainer {
			display: grid;
			gap: 2rem;
			width: 100%;

			.inputContainer {
				.inputField {
					background-color: white;
					border: 0;
					border-radius: 0.75rem;
					box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.1);
					font-size: 1.5rem;
					line-height: 2rem;
					outline: 0;
					padding: 0.5rem 1rem;
					width: 100%;

					&:focus {
						outline: 2px solid $gradientStart;
					}
				}
			}
		}
		.formButton {
			font-size: 1.5rem;
			font-weight: 500;
			padding: 0.75rem 2.5rem;
		}
	}
}
