@import '../main.scss';

.welcomeContainer {
	display: flex;
	flex-direction: column;
	height: fit-content;
	padding: 0 2rem;
	@include breakpoint($xsLaptop) {
		align-items: center;
		background-color: $primaryColor;
		flex-direction: row;
		height: calc(100vh - 7.5rem);
		justify-content: space-evenly;
		margin: 0 5rem;
		padding: 0;
	}
	@include breakpointIPadProPortrait() {
		height: max-content;
		margin-bottom: 10rem;
	}
	@include breakpoint($sLaptop) {
		height: calc(100vh - 7.5rem);
	}
	@include breakpointIPadProLandscape() {
		height: max-content;
		margin-bottom: 10rem;
	}

	.contentContainer {
		margin-top: 1rem;
		@include breakpoint($xsLaptop) {
			display: flex;
			align-items: flex-end;
			flex-direction: column;
			gap: 2rem;
			height: 100%;
			margin-top: 4rem;
			width: 55%;
		}
		@include breakpoint($sLaptop) {
			margin-top: 10rem;
		}
		@include breakpointIPadProLandscape() {
			margin-top: 5rem;
		}
		.heading {
			border-bottom: 2px solid $secondaryColor;
			border-top: 2px solid $secondaryColor;
			font-family: 'BookmanOldStyle, Bookman Old Style';
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 2rem;
			margin: 2rem auto;
			text-align: center;
			width: 100%;
			@include breakpoint($lPhone) {
				line-height: 3rem;
				width: max-content;
			}
			@include breakpoint($tablet) {
				font-size: 2.2rem;
			}
			@include breakpoint($xsLaptop) {
				font-size: 2rem;
				line-height: 2.5rem;
				width: auto;
			}
			@include breakpoint($sLaptop) {
				font-size: 2.4rem;
				line-height: 3.5rem;
				text-align: center;
				margin: 0 auto;
				width: max-content;
			}
		}
		.descriptionContainer {
			position: relative;
			@include breakpoint($tablet) {
				margin: 0 auto;
				width: 90%;
			}
			@include breakpoint($xsLaptop) {
				margin: 0;
				width: 100%;
			}
			@include breakpoint($sLaptop) {
				width: 100%;
			}

			.descriptionBox {
				background-color: white;
				border-radius: 2rem;
				box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.1);
				padding: 2rem;
				position: relative;
				z-index: 2;
				@include breakpoint($xsLaptop) {
					padding: 2rem;
				}
				@include breakpoint($sLaptop) {
					padding: 3rem;
				}

				.description {
					font-family: 'AllRoundGothic-Book, All Round Gothic';
					font-size: 1rem;
					line-height: 1.5rem;
					text-align: center;
					@include breakpoint($xsPhone) {
						line-height: 1.8rem;
					}
					@include breakpoint($phone) {
						font-size: 1.1rem;
					}
					@include breakpoint($lPhone) {
						font-size: 1.25rem;
					}
					@include breakpoint($tablet) {
						font-size: 1.5rem;
						line-height: 2rem;
					}
					@include breakpoint($xsLaptop) {
						font-size: 1.2rem;
					}
					@include breakpoint($sLaptop) {
						line-height: 2.5rem;
					}
					@include breakpointIPadProLandscape() {
						font-size: 1.5rem;
					}
				}
			}

			.decorationLeavesLeft {
				bottom: -105px;
				left: -75px;
				position: absolute;
				transform: scale(0.75);
				z-index: 1;
				@include breakpoint($lPhone) {
					bottom: -100px;
				}
				@include breakpoint($xsLaptop) {
					bottom: -110px;
				}
				@include breakpoint($sLaptop) {
					transform: scale(1);
				}
			}

			.decorationLeavesRight {
				bottom: -105px;
				position: absolute;
				right: -75px;
				transform: scale(0.75);
				z-index: 1;
				@include breakpoint($lPhone) {
					bottom: -100px;
				}
				@include breakpoint($xsLaptop) {
					bottom: -110px;
				}
				@include breakpoint($sLaptop) {
					transform: scale(1);
				}
			}
		}
	}
}
