@import '../main.scss';

.welcomeFormContainer {
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 100%;
  padding: 2.5rem;
  place-items: center;
  width: 100%;

  .formDescription {
    color: $primaryColor;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.2rem;
    position: relative;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

    &::before {
      content: '';
      width: 15%;
      height: 0.5rem;
      background-color: $primaryColor;
      box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
      position: absolute;
      bottom: -2rem;
      left: 0;
    }
  }

  .formBody {
    display: grid;
    gap: 3rem;
    place-items: center;

    .formFieldsContainer {
      display: grid;
      gap: 2rem;

      .inputContainer {
        .inputField {
          background-color: white;
          border: 0;
          border-radius: 0.75rem;
          box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.1);
          font-size: 1.5rem;
          line-height: 2rem;
          outline: 0;
          padding: 0.5rem 1rem;

          &:focus {
            outline: 3px solid $gradientStart;
          }
        }
      }
    }
    .buttonContainer {
      .formButton {
        background-color: $primaryColor;
        border: 2px solid $gradientStart;
        border-radius: 1rem;
        cursor: pointer;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        padding: 0.75rem 2.5rem;
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

        &:hover {
          background-color: $gradientStart;
          border-color: $primaryColor;
          color: $primaryColor;
        }
      }
    }
  }
  .invalid {
    outline: 3px solid #ff0033 !important;
  }
}
