@import '../main.scss';

.welcomeFormContainer {
  display: grid;
  grid-template-rows: 1.5fr 3fr;
  padding: 1.5rem 0 0;
  place-items: center;
  @include breakpoint($xsPhone) {
    grid-template-rows: 1.5fr 4fr;
  }
  @include breakpoint($sPhone) {
    grid-template-rows: 1.5fr 3fr;
    padding: 1.5rem 1.5rem 0;
  }
  @include breakpoint($lPhone) {
    grid-template-rows: 1.5fr 3.5fr;
  }
  @include breakpoint($tablet) {
    grid-template-rows: 1.5fr 5.5fr;
  }
  @include breakpoint($xsLaptop) {
    grid-template-rows: 1.5fr 4fr;
    padding: 0 1rem;
  }
  @include breakpoint($lLaptop) {
    grid-template-rows: 1.5fr 5fr;
    padding: 0 1rem;
  }
  .formBody {
    display: grid;
    gap: 2rem;
    place-items: center;
    @include breakpoint($xsLaptop) {
      width: 50%;
    }
    @include breakpoint($laptop) {
      gap: 2.5rem;
      width: 40%;
    }
    @include breakpoint($desktop) {
      gap: 3rem;
    }
    @include breakpoint($desktop4K) {
      gap: 4rem;
    }
    .formButton {
      border-radius: 0.75rem;
      font-size: 0.8rem;
      font-weight: 500;
      padding: 0.6rem 0.75rem;
      @include breakpoint($sPhone) {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
      }
      @include breakpoint($phone) {
        font-size: 1rem;
      }
      @include breakpoint($tablet) {
        font-size: 1.1rem;
      }
      @include breakpoint($xsLaptop) {
        border-radius: 1rem;
        font-size: 1.3rem;
        padding: 0.75rem 2.5rem;
      }
      @include breakpoint($lLaptop) {
        font-size: 1.5rem;
      }
      @include breakpoint($desktop) {
        font-size: 1.6rem;
      }
      @include breakpoint($desktop2K) {
        font-size: 1.7rem;
      }
      @include breakpointExtended($desktop2K, $height2K) {
        border-radius: 1.25rem;
        font-size: 2rem;
      }
      @include breakpoint($desktop4K) {
        border-radius: 1.75rem;
        font-size: 3.6rem;
        padding: 1.25rem 4rem;
      }
    }
    .formFieldsContainer {
      display: grid;
      gap: 1rem;
      width: 85%;
      @include breakpoint($phone) {
        gap: 1.25rem;
      }
      @include breakpoint($lPhone) {
        width: 90%;
      }
      @include breakpoint($tablet) {
        width: 100%;
      }
      @include breakpoint($xsLaptop) {
        gap: 1.5rem;
      }
      @include breakpoint($desktop) {
        gap: 1.75rem;
      }
      @include breakpoint($desktop4K) {
        gap: 2.5rem;
      }
      .inputContainer {
        .inputField {
          font-size: 1rem;
          line-height: 1rem;
          width: 100%;
          @include breakpoint($sPhone) {
            font-size: 1.1rem;
          }
          @include breakpoint($tablet) {
            font-size: 1.2rem;
          }
          @include breakpoint($xsLaptop) {
            font-size: 1.4rem;
            line-height: 1.8rem;
          }
          @include breakpoint($lLaptop) {
            font-size: 1.5rem;
            line-height: 2rem;
          }
          @include breakpoint($sDesktop) {
            line-height: 2.2rem;
          }
          @include breakpoint($desktop) {
            font-size: 1.7rem;
            line-height: 2.2rem;
          }
          @include breakpoint($desktop2K) {
            font-size: 1.8rem;
            line-height: 2.4rem;
          }
          @include breakpointExtended($desktop2K, $height2K) {
            font-size: 2rem;
            line-height: 2.8rem;
          }
          @include breakpoint($desktop4K) {
            border-radius: 1.75rem;
            font-size: 3.4rem;
            line-height: 4.8rem;
            padding: 0.75rem 2rem;
          }
        }
      }
    }
  }
  .formDescription {
    color: $primaryColor;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5rem;
    position: relative;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    @include breakpoint($xsPhone) {
      line-height: 1.3rem;
    }
    @include breakpoint($sPhone) {
      font-size: 1.15rem;
      line-height: 1.8rem;
      width: 100%;
    }
    @include breakpoint($phone) {
      font-size: 1.2rem;
    }
    @include breakpoint($tablet) {
      font-size: 1.3rem;
    }
    @include breakpoint($xsLaptop) {
      font-size: 1.5rem;
      line-height: 2.2rem;
      margin-top: -2.25rem;
    }
    @include breakpoint($laptop) {
      font-size: 1.6rem;
    }
    @include breakpoint($lLaptop) {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
    @include breakpointExtended($lLaptop, $heightSmallLLaptop) {
      font-size: 1.6rem;
    }
    @include breakpointExtended($lLaptop, $heightStandardLLaptop) {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
    @include breakpoint($desktop) {
      font-size: 1.9rem;
      line-height: 2.7rem;
      margin-top: -2rem;
    }
    @include breakpoint($desktop2K) {
      line-height: 3rem;
    }
    @include breakpointExtended($desktop2K, $height2K) {
      font-size: 2.2rem;
      line-height: 3.2rem;
      margin: -2rem 0 0 2rem;
    }
    @include breakpoint($desktop4K) {
      font-size: 3.8rem;
      line-height: 5.4rem;
      margin: 2rem 0 0 0;
      width: 95%;
    }
    &::before {
      background-color: $primaryColor;
      bottom: -1rem;
      box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
      content: '';
      height: 0.25rem;
      left: 0;
      position: absolute;
      width: 35%;
      @include breakpoint($sPhone) {
        bottom: -2rem;
        height: 0.35rem;
      }
      @include breakpoint($phone) {
        bottom: -1.5rem;
      }
      @include breakpoint($tablet) {
        width: 25%;
      }
      @include breakpoint($xsLaptop) {
        width: 15%;
      }
      @include breakpoint($lLaptop) {
        height: 0.4rem;
        width: 20%;
      }
      @include breakpoint($desktop) {
        width: 15%;
      }
      @include breakpoint($desktop4K) {
        bottom: -3rem;
        height: 0.75rem;
        width: 12%;
      }
    }
  }
}
