$accentColor: #22342f;
$blackTransparent01: rgba(0, 0, 0, 0.1);
$blackTransparent03: rgba(0, 0, 0, 0.3);
$darkGray: #555555;
$darkTurquoise: #0d7775;
$forestGreen: #0da25c;
$gradientPastelBlue: #7fb8b4;
$gradientPastelGreen: #81c8a7;
$ivory: #faf5f2;
$lightAccentColor: #bfddd8;
$lightGray: #9e9e9e;
$pastelGreen: #86c7b2;
$snowWhite: #f5f5f5;
