* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    :focus-visible {
      outline-color: #0d9065;
    }
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    p,
    span {
      &::selection {
        background-color: #0d7775;
        color: white;
      }
    }
    img {
      &::selection {
        background-color: transparent;
      }
    }
    #root {
      height: 100%;
      width: 100%;
    }
  }
}
